:root {
    --mono-h: 0;
    --mono-s: 0%;

    --color-black: var(--mono-h) var(--mono-s) 20%;
    --color-white: var(--mono-h) var(--mono-s) 100%;

    --space-4: 0.4rem;
    --space-8: 0.8rem;
    --space-12: 1.2rem;
    --space-16: 1.6rem;
    --space-24: 2.4rem;
    --space-32: 3.2rem;
    --space-64: 6.4rem;
}
