.scrollable {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.thead {
    text-transform: uppercase;
    border-bottom: 2px solid hsla(var(--color-secondary));
    font-size: var(--thead-font-size, 1.8rem);
}

.table__header {
    text-align: start;
}

.table__header,
.table__data {
    padding: var(--table-cell-padding, 2rem);
    white-space: nowrap;
}

.tbody .table__row:nth-of-type(even) {
    background-color: hsla(var(--color-white) / 0.1);
}

.tbody .table__data:first-of-type {
    font-size: var(--table-data-first-font-size, 2rem);
}